<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%= @pic.image %>">
  </dd>

  <dt>Caption</dt>
  <dd>
    <%= @pic.caption %>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%= @pic.owner.username %>
  </dd>

  <dt>Posted</dt>
  <dd>
    <%= time_ago_in_words(@pic.created_at) %> ago
  </dd>

  <dt>Fans</dt>
  <dd>
    <%= @pic.fans.pluck(:username).to_sentence %>
  
  <dt>Add a fan</dt>
  <dd><label for="fan_dropdown"> Person</label></dd>
  <button>
    Add fan
  </button> 
  </dd>

  
  <dt>Danger Zone</dt>
  # EDIT BUTTON DOES NOT WORK
  <dd>
    <a href= "/existing_photo_form/<%@pic.id %>">Edit photo</a> 
  </dd>
  <dd>
    <a href= "/delete_photo/<%@pic.id %>">Delete photo</a> 
  </dd>
</dl>

<dt><h2> Comments</h2></dt>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @pic.comments.order({ :created_at => :asc }).each do |comment| %>
  <tr>
    <td>
      <%= comment.author.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>

<h2> Add a new comment </h2>
<form action="/add_comment">
  
  <label for="commenter_dropdown">
    Commenter
  </label>
  
  <select id="commenter_dropdown" name="commenter_id">
    <% User.all.order({:username => :asc}).each do |user| %>
      <option value="<%= user.id %>">
        <%= user.username %>
      </option>
    <% end %>
  
  </select>
    <label for="comment_box">
    Comment
  </label>
  
  <textarea
    id="comment_box"
    name="comment_caption"
    value="<%= @pic.id %>" 
    placeholder="Enter a comment..."
  ></textarea>
  
    <button>
    Add comment
  </button>
</form>

